@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
}
/* Main section */
header {
  background-image: linear-gradient(
      rgba(53, 52, 52, 0.726),
      rgba(255, 255, 255, 0.301)
    ),
    url(./assets/mountain.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  margin: auto;
  padding: 0;
}
.header-socials {
  display: inline-flex;
  position: absolute;
  top: 10%;
  right: 20%;
}
.socials-icon {
  width: 100px;
  height: 100px;
  margin: 3px;
}
.icon-linkedin,
.icon-github {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  cursor: pointer;
  border-radius: 50%;
}
.icon-linkedin:hover,
.icon-github:hover {
  border: #d9adad solid 2px fill;
  transition: 0.1s ease-in-out;
  opacity: 0.3;
  width: 100px;
  height: 100px;
}
header .icon-linkedin,
header .icon-github {
  width: 100%;
  height: 100%;
}
.icon-linkedin {
  background-image: url("./assets/linkedin.svg");
  background-size: cover;
}
.icon-github {
  background-image: url("./assets/github.svg");
  background-size: cover;
}
.header-name-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 140px;
  padding-left: 50px;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #ffffff;
  line-height: 1;
  padding-top: 5px;
}
.name-highlight {
  font-family: "Montserrat";
  font-weight: 500;
}
h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  color: #ffffff;
  font-size: 45px;
  margin: 0;
  line-height: 1;
}
h3 {
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  color: #ffffff;
  font-size: 35px;
  margin: 0;
}
.profile-pic {
  position: absolute;
  top: 70%;
  right: 20%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 3px #ffffff;
}
.bolded {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: uppercase;
}
/* ABOUT ME */
.about-me {
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
.line {
  display: inline-block;
  width: 70px;
  height: 3px;
  background-color: #d9adad;
  padding: 1.5px;
  margin-bottom: 8px;
}
.circle {
  background-color: #d9adad;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-left: -10px;
  margin-right: 12px;
  padding: 0;
}
.about-me p {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  padding-bottom: 60px;
  padding-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  text-align: center;
}
/* END OF MAIN SECTION */
/* Tech section */
.tech {
  background-color: #f8f0f0;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
h4 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #d9adad;
  padding: 5px 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.tech p {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 400px;
  padding-right: 400px;
  align-items: center;
  text-align: center;
}
.colored-text {
  color: #d9adad;
}
/* END OF TECH SECTION */
/* FEATURED PROJECTS */
.featured-projects {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.featured-projects-container {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
  font-size: 20px;
  font-family: "Roboto" sans-serif;
  margin: 5px;
  width: 575px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.centered {
  display: none;
}
.card-img:hover + .centered {
  display: block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  color: #f8f0f0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #7f7575;
  padding: 7px;
  transition: 0.5s ease-in-out;
}
.card p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.card a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.card-img {
  width: 100%;
  border: 3px solid #f8f0f0;
}
.card-img:hover {
  opacity: 0.1;
  transition: 0.3s ease-in-out;
}
.projects-bold {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #d9adad;
  letter-spacing: 0px;
}
.tag {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: #d9adad;
  padding: 2px;
}
.link {
  color: #d9adad;
  text-decoration: underline;
  font-weight: bolder;
}
/* OTHER PROJECTS */
.other-projects {
  background-color: #eeeeee;
  padding-bottom: 50px;
  padding-top: 30px;
}
.other-projects a {
  text-decoration: underline;
  color: black;
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.other-projects-container {
  padding-top: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}
.stack {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: #7f7575;
  color: white;
  padding: 2px;
}
.other-projects-container p {
  padding: 2px;
}
.other-projects span {
  font-size: 16px;
}
.to-link {
  color: #7f7575;
  text-decoration: underline;
  font-weight: bolder;
}
/* MY THOUGHTS ABOUT CODE */
.thoughts-section {
  padding-top: 50px;
  background-color: #f8f0f0;
}
.thoughts-bold {
  font-size: 16px;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #7f7575;
  letter-spacing: 0px;
}
.thoughts-container {
  padding-top: 30px;
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  padding: 60px;
}
.date {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0px;
  margin: 0 auto;
}
.thoughts-container a {
  text-decoration: underline;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #000000;
}
.articles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  width: 100%;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 40px;
}
.articles-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}
.articles-img:hover {
  transition: 0.2s ease-in;
  opacity: 0.3;
}
.text {
  font-size: 16px;
  padding-top: 0%;
  font-family: "Montserrat", sans-serif;
  color: #7f7575;
  font-weight: 600;
}
.article-text {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-weight: 300;
  font-size: 16px;
}
/* SKILLS SECTION */
.skills-container {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
}
.skills-section h4 {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #d9adad;
}
.skills-container h5 {
  color: #7f7575;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
}
.skills-container div {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 1;
  line-height: 1.2;
}
.skills-container div {
  margin: 10px;
}
/* FOR MORE SECTION */
.social-media-bottom {
  background-color: #f8f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
  padding-top: 50px;
  margin: 0;
}
.bottom-links {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 60px;
}
.bottom-link {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background: none;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  text-indent: -9999px;
}
.bottom-linkedin {
  background-image: url(./assets/Lin.svg);
  background-size: cover;
}
.bottom-github {
  background-image: url(./assets/gHub.svg);
  background-size: cover;
}
.bottom-stackoverflow {
  background-image: url(./assets/so.svg);
  background-size: cover;
  border: 8px solid #f8f0f0;
}
.bottom-stackoverflow:hover,
.bottom-github:hover,
.bottom-linkedin:hover {
  transition: 0.3s ease-in-out;
  width: 120px;
  height: 120px;
  opacity: 0.7;
}
.link-button {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link-button h5 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #7f7575;
  font-weight: 500;
  margin-top: 10px;
  text-decoration: none;
  line-height: 2;
  letter-spacing: 1px;
  padding: 10px;
}
/* FOOTER */
footer {
  background-color: #d9adad;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}
h5 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  justify-content: center;
  font-size: 30px;
  display: flex;
  line-height: 5px;
  letter-spacing: 0;
  font-weight: 500;
}
.bold {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 18px;
}
footer p {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  line-height: 10px;
}
/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
  .about-me p {
    font-size: 25px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: left;
    text-align: left;
    line-height: 1.4;
  }
  .header-name-description {
    width: 100%;
    margin-top: 280px;
    padding-left: 200px;
  }
  span.bolded {
    font-size: 25px;
  }
  .tech p {
    font-size: 30px;
    padding-left: 200px;
    padding-right: 200px;
  }
  .card {
    width: 47%;
  }
  a {
    font-size: 30px;
  }
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .about-me p {
    font-size: 18px;
    padding-bottom: 30px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: left;
    text-align: left;
    line-height: 1.4;
  }
  .tech p {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .other-projects {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .other-projects-container,
  .thoughts-container {
    padding-top: 20px;
    width: 80%;
    padding: 10px;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 23px;
  }
  h4 {
    font-size: 20px;
  }
  .skills-container div {
    font-size: 16px;
    line-height: 0.8;
  }
  .bottom-link {
    width: 80px;
    height: 80px;
  }
  .card-img:hover + .centered {
    display: none;
  }
  .thoughts-container a {
    font-size: 18px;
    color: black;
    font-weight: lighter;
    text-decoration: underline #000000;
  }
  .thoughts-bold {
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline #7f7575;
  }
  .articles {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .about-me p {
    font-size: 22px;
    padding-bottom: 30px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: left;
    text-align: left;
    line-height: 1.4;
  }
  .tech p {
    font-size: 22px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .other-projects {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .other-projects-container,
  .thoughts-container {
    padding-top: 20px;
    width: 80%;
    padding: 10px;
  }
  .other-projects {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: white;
  }
  h2,
  h3,
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 32px;
  }
  .skills-container div {
    font-size: 28px;
    line-height: 0.8;
  }
  .bottom-link {
    width: 160px;
    height: 160px;
  }
  span.bold {
    font-size: 25px;
  }
  .other-projects a {
    font-size: 25px;
    text-decoration: white;
  }
  span.projects-bold,
  span.stack,
  .tag,
  span.date {
    font-size: 22px;
  }
  .card a {
    font-size: 25px;
    line-height: 1.5;
  }
  .thoughts-container a {
    font-size: 25px;
    color: black;
    font-weight: lighter;
    text-decoration: underline #000000;
  }
  .thoughts-bold {
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline #7f7575;
  }
  .card-img:hover + .centered {
    display: none;
  }
  .articles {
    flex-wrap: wrap;
  }
  .article-text {
    font-size: 22px;
  }
  .text {
    font-size: 18px;
  }
}
