@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
}
/* Main section */
header {
  background-image: url(/assets/mountain.jpg);
  display: flex;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-text {
  display: block;
  flex-direction: column;
  padding-left: 30px;
  margin-left: 200px;
  margin-right: 50px;
  padding-top: 40px;
}
.socials {
  display: flex;
  padding-left: 200px;
  margin-left: 10px;
  margin-right: 50px;
  padding-top: 100px;
}
a {
  text-decoration: none;
  padding: 5px;
}
h1 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #696969;
  font-weight: 400;
  letter-spacing: 1px;
  padding-top: 60px;
}
.bolded {
  font-weight: bolder;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 52px;
  color: #696969;
  letter-spacing: 1px;
  line-height: 1;
  margin-top: 0;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: #696969;
  letter-spacing: 1px;
  line-height: 0;
  margin-top: 0;
}
.profile-img {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin-top: 250px;
}
.profile-img img {
  width: 100%;
}
.about-me {
  background-color: #eeeeee;
  width: 100%;
  margin: 0;
  padding-top: 30px;
}
.line {
  display: inline-block;
  width: 70px;
  height: 3px;
  background-color: #d9adad;
  padding: 1.5px;
  margin-bottom: 8px;
}
.circle {
  background-color: #d9adad;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-left: -10px;
  margin-right: 12px;
  padding: 0;
}
.about-me p {
  display: block;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 26px;
  margin-left: 20px;
  margin-right: 10px;
  padding-bottom: 50px;
  text-align: center;
}
/* END OF MAIN SECTION */
/* Tech section */
.tech {
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}
.tech h2,
.featured-projects h2 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #d9adad;
  padding: 4px 4px 4px;
  text-align: center;
}
.tech p {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  padding-top: 40px;
  margin-left: 400px;
  margin-right: 400px;
  padding-bottom: 60px;
  align-items: center;
  text-align: center;
}
.colored-text {
  color: #d9adad;
}
/* END OF TECH SECTION */
/* Featured projects and other projects section */
.featured-projects {
  background-color: #eeeeee;
  width: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}
/* PROJECTS SECTION */
.featured-projects-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  padding: 15px;
  margin: 10px;
}
.card p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.card a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.card-img {
  width: 100%;
}
.projects-bold {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #d9adad;
  letter-spacing: 0px;
}
.tag {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: #d9adad;
  padding: 2px;
}
.link {
  color: #d9adad;
  text-decoration: underline;
  font-weight: bolder;
}
/* FOOTER */
footer {
  background-color: #d9adad;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}
h5 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  justify-content: center;
  font-size: 30px;
  display: flex;
  line-height: 5px;
  letter-spacing: 0;
}
.bold {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 18px;
}
footer p {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  line-height: 10px;
}
