@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
}
/* Main section */
header {
  background-color: #835858;
  background-size: cover;
  width: 100%;
  display: flex;
}
.header-text {
  display: block;
  flex-direction: column;
  padding-left: 30px;
  margin-left: 200px;
  margin-right: 50px;
  padding-top: 40px;
}
.socials {
  display: flex;
  padding-left: 200px;
  margin-left: 10px;
  margin-right: 50px;
  padding-top: 100px;
}
a {
  text-decoration: none;
  padding: 5px;
}
h1 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1px;
  padding-top: 60px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 52px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 1;
  margin-top: 0;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 0;
  margin-top: 0;
}
.profile-img {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin-top: 250px;
}
.profile-img img {
  width: 100%;
  height: auto;
  margin: auto;
}
.about-me {
  background-color: #eeeeee;
  width: 100%;
  margin: 0;
  padding-top: 30px;
}
.about-me p {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 25px;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 80px;
  padding-bottom: 80px;
}
/* END OF MAIN SECTION */
/* Tech section */
.tech {
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
}
.tech h2 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #835858;
  width: fit-content;
  padding: 4px 4px 4px;
}
.tech p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 30px;
  margin-left: 400px;
  margin-right: 400px;
  padding-bottom: 30px;
  align-items: center;
  text-align: center;
}
