@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
}
/* Main section */
header {
  background-color: black;
  display: flex;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;
}
.header-text {
  display: block;
  flex-direction: column;
  padding-left: 30px;
  margin-left: 200px;
  margin-right: 50px;
  padding-top: 40px;
}
.socials {
  display: flex;
  padding-left: 200px;
  margin-left: 10px;
  margin-right: 50px;
  padding-top: 100px;
}
a {
  text-decoration: none;
  padding: 5px;
}
h1 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1px;
  padding-top: 60px;
}
.name {
  font-weight: bolder;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 52px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 1;
  margin-top: 0;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 0;
  margin-top: 0;
}
.profile-img {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin-top: 250px;
}
.profile-img img {
  width: 100%;
}
.about-me {
  background-color: #eeeeee;
  width: 100%;
  margin: 0;
  padding-top: 30px;
}
.line {
  display: inline-block;
  width: 70px;
  height: 3px;
  background-color: #835858;
  padding: 1.5px;
  margin-bottom: 8px;
  padding-left: 20px;
}
.circle {
  background-color: #835858;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-left: -10px;
  margin-right: 12px;
  padding: 0;
}
.about-me p {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 28px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
}
/* END OF MAIN SECTION */
/* Tech section */
.tech {
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}
.tech h2,
.featured-projects h2 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #835858;
  width: fit-content;
  padding: 4px 4px 4px;
}
.tech p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-top: 40px;
  margin-left: 400px;
  margin-right: 400px;
  padding-bottom: 60px;
  align-items: center;
  text-align: center;
}
/* END OF TECH SECTION */
/* Featured projects and other projects section */
.featured-projects {
  background-color: #eeeeee;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}
